*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    font-size: 16px;
    background: #f2fdff;
}
header{
    font-size: 16px;
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    background-color: rgb(2, 2, 46);
    border-bottom: 3px solid white;
}
header h3{
    line-height: 2.5;
    margin-left: 100px;
}
header .menu{
    width: 30px;
     display: none; 
}
header .blockone{
   
   position: absolute;
   left: 0; 
   z-index: 1;
   background-color: white;
   color: black;
   top: 50px;
   height:520px;
}
header .btn-nav {
    display: flex;
    background:rgb(2, 2, 46);
    border-radius: 30px;
    width: 160px;
    height: 40px;
    justify-content:center;
    gap: 10px;
    margin-top: -30px;
    padding: 5px;
}
header .grid{
    display: grid;
    margin: auto;
    margin-left: 10%;
}
/* *****************the end of header*********************** */
.display{
    display: grid;
    grid-template-columns: auto auto auto;
}
.display .blockone,.display .blocktree{
    background-color:white;
}
/* *************************block one********************************* */
.display .blockone{
    height: 600px;
}
.display .blockone,header .blockone{
    font-size: 16px;
    width: 250px;
    z-index: 10;
    border: rgba(0, 0, 0, 0.685);
    box-shadow:  0px 0px 5px 0px  rgba(0, 0, 0, 0.486);
}
 .dashboard p,.dashboard_schoolfees p,.blockone .dashboard_aide p{
    margin: 5px;
}
.blockone .dashboard,.dashboard_schoolfees,.blockone .dashboard_aide,header .dashboard{
    display: flex;
    gap: 10px;
}
.dashboard_schoolfees,header .dashboard_schoolfees{
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px;
    background-color: #e3f3ff;
    border-left: 3px solid rgb(58, 100, 254);
}
.blockone .dashboard_aide{
    display: none;
}
.blockone .dashboard_aide:hover{   
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px;
    background-color: #e3f3ff;
}
.blockone .dashboard:hover{   
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px;
    background-color: #e3f3ff;
}
.blockone .dashboard img,.dashboard_schoolfees img,.blockone .dashboard_aide img{
    width: 30px;
}
.display .blockone .grid,header .grid{
    display: grid;
    gap: 10px;
    margin: 40px auto;
    margin-left: 10%;
}
.btn-nav {
    display: flex;
    background:rgb(2, 2, 46);
    border-radius: 30px;
    width: 160px;
    height: 40px;
    justify-content:center;
    gap: 10px;
    margin-left: 10%;
    margin-top: 40%;
}
.btn-nav button{
    font-size: 20px;
    height: 20px;
    background:rgb(2, 2, 46) ;
    color: white;
    border: none;
}
.btn-nav img,header img{
    width: 30px;
}
/* **************************block two********************************* */
 .blocktwo h5{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    background-color: rgba(0, 0, 255, 0.304);
} 
.blocktwo div{
    /* margin: 30px; */
    padding: 30px;
}
table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
table thead tr{
    text-align: left;
}
table th, td{
    padding: 5px;
}
tbody tr:nth-child(even){
    background-color: white;
}
tbody tr:nth-child(odd){
    background-color:#e3f3ff;
}
tbody tr:first-child td:first-child{
    border-top-left-radius: 10px;
}
tbody tr:first-child td:last-child{
    border-top-right-radius: 10px;
}
thead tr th{
    color: rgb(25, 113, 207);
}
.blocktwo .statistic_of_payment{
    color:rgb(25, 113, 207) ;
    text-align: center;
    margin: 40px;
}
.blocktwo .statistic_div{
    width:fit-content;
    display: flex;
   gap: 50px;
   border-radius: 10px;
   box-shadow: 0px 0px 8px 0px black;
}
.blocktwo .statistic_div_display{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.blocktwo .statistic_div div{

    margin: -20px;
    padding: 0px;
}
@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .circle-svg {
    display: block;
    max-height: 80px;
    width: 50px;
    height: 50px;
    margin: -20px;
    padding: 0px;
  }
  .circle-svg text {
    text-align:center;
    color:black;
    font-size:10px;
  }
  .circle-svg path.percent {
    stroke: #6f6fff;
     fill: none; 
     stroke-width: 2.8; 
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  .circle-svg path.around {
      stroke: #c4c4c4;
      fill: none;
      stroke-width: 2.8; 
  }
/* ********************************block tree**************************************** */
.blocktree{
    box-shadow:  0px 0px 5px 0px  rgba(0, 0, 0, 0.342);
}
.blocktree h1{
    font-size: 30px
}
.blocktree aside .aide{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    border: none;
    box-shadow: none;
}
.blocktree div p strong{
    color: rgb(25, 113, 207);
}
.blocktree div p{
    margin:10px;
}
.blocktree div{
    font-size: small;
    width: 220px; 
    margin: 10px auto;
    border-radius: 20px;
    border:1px solid rgba(0, 0, 0, 0.245);
    box-shadow:  0px 2px 3px 3px  rgba(47, 47, 47, 0.375);
}
.mobile-menu{
    z-index: 1;
   left:0;
    transition: 0.5 ease;
    position: absolute;
    transition: 1s;
}
/* *********************************** */
@media (max-width:1078px){
   .blocktree aside{
    margin: 10px;
   } 
}
@media (max-width:1039px){
    .display .blocktwo{
        width: 500px;
    } 
 }
@media (max-width:979px){
    .display .blocktwo{
        width: 100%;
        
    } 
   .display .blocktree{
    display:none;
}
.blockone .dashboard_aide{
    display:flex;
}
.blockone a{
    color: black;
    text-decoration: none;
}
.display .blockone{
    height:650px;
}
.btn-nav {
  padding: 10px;
   
}
}
@media (max-width:796px){
    .display .blocktwo{
        width: 100%;
    } 
    table{
        width: 90%;
    }
}
@media (max-width:745px){
    .display .blockone{
        display: none;
    }
   
    .display .blocktwo{
        width: 100%;
    } 
    header h3{
        line-height: 2.5;
    }
    header .menu{
        margin: 5px;
        width: 30px;
        
         display: flex; 
    }
    header{
        justify-content: space-around;
    }
    header .blockone{
        position: absolute;
        margin-left: -100%;
        transition: 1s;
    }
    header .mobile-menu{
    margin-left: 0;
   }

}
@media (max-width:505px){
    .blocktwo .statistic_div_display{
        display: grid;
        gap: 20px;
        justify-content: center;
        grid-template-columns: auto auto;
    }
    table{
        width: 90%;
    }
}
@media (max-width:345px){
    .blocktwo .statistic_div_display{
        grid-template-columns: auto;
    }
    table{
        width: 100%;
    }
}